/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #d0ebff; /* Tom de azul claro */
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do cabeçalho */
header {
    background: linear-gradient(90deg, #005c99, #0077cc); /* Degradê azul */
    color: white;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header h2 {
    margin: 10px 0 0;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
}

/* Estilo da seção principal */
main {
    padding: 20px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.video {
    position: relative;
    cursor: pointer;
}

.video img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.video img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo do rodapé */
footer {
    margin-top: auto;
    background-color: #0077cc;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
